{% extends "base.html" %}
{% block title %}Home - Portal Project{% endblock %}

{% block header%}
{% endblock %}

{% block nav %}
    <nav aria-label="Global" class="hidden md:block">
            <ul class="flex items-center gap-6 text-sm">
            <li>
                <a class="text-gray-500 transition hover:text-gray-500/75" href="{{ url_for('feedback.index') }}"> Home </a>
            </li>

            <li>
                <a class="text-gray-500 transition hover:text-gray-500/75" href="{{ url_for('auth.logout') }}"> Log out </a>
            </li>

            <li>
                <a class="text-gray-500 transition hover:text-gray-500/75" href="{{ url_for('main.mainpage') }}"> Main page </a>
            </li>

            <li>
                <a class="text-gray-500 transition hover:text-gray-500/75" href="{{ url_for('main.dashboard') }}"> Dashboard </a>
            </li>

            <li>
                <a class="text-gray-500 transition hover:text-gray-500/75" href="{{ url_for('feedback.index') }}"> Placeholder </a>
            </li>

            <li>
                <a class="text-gray-500 transition hover:text-gray-500/75" href="{{ url_for('feedback.index') }}"> Placeholder </a>
            </li>
            </ul>
    </nav>
{% endblock %}

{% block content %}
    <h2>Welcome to the Portal Project Main Page</h2>
    <p>This is the main page for registered users.</p>
    
    {% if g.user %}
    <p>Hello, {{ g.user['username'] }}! </p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
{% endblock %}