{% extends "base.html" %}
{% block title %}Home - Portal Project{% endblock %}

{% block header%}
 <h1>Welcome to the Portal Project</h1> 
{% endblock %}

{% block nav %}
    <nav>
      <a href="{{ url_for('feedback.index') }}">Home</a> |
      <a href="{{ url_for('auth.login') }}">Login</a> |
      <a href="{{ url_for('auth.register') }}">Register</a> |
      <a href="{{ url_for('main.mainpage') }}">Main Page</a>
    </nav>
{% endblock %}

{% block content %}
    <h2>Welcome to the Portal Project</h2>
    <p>This is the home page.</p>
    <p><a href="{{ url_for('auth.login') }}">Login</a></p>
    <p><a href="{{ url_for('auth.register') }}">Register</a></p>

    <div>
        <form method="POST">
            <label for="select_company">Choose a Receiver:</label><br>
            <select id="select_company" name="select_company" value="{{ request.form.get('select_company', '') }}"
 required><br>
                <option value="" disabled selected>Select a company</option>
                {% for company in user_list %}
                    <option value="{{ company['id'] }}">{{ company["username"] }}</option>
                {% endfor %}
            </select> <br>
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" value="{{ request.form['title'] }}" required><br>

            <label for="feedback">Feedback:</label><br>
            <input type="text" id="feedback" name="feedback" value="{{ request.form['feedback'] }}" required><br>
            <button type="submit" value="feedback">Submit Feedback</button>
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
{% endblock %}